@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
 * {
	 box-sizing: border-box;
}
 *:after {
	 box-sizing: border-box;
}
 body, html {
	 min-height: 100%;
}
 body {
	 font-family: "Open Sans", sans-serif;
}
 img {
	 max-width: 100%;
	 width: 100%;
	 height: auto;
}
 a {
	 -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 a:hover {
	 -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 #wrapper {
	 position: relative;
	 display: flex;
	 height: 100vh;
	 align-items: center;
	 justify-content: center;
}
 .card {
	 
	 width: 350px;
	 height: 350px;
	 margin: 20px;
	 position: relative;
	 overflow: hidden;
}
 .card-image {
	 height: 350px;
	 object-fit: cover;
	 transform: translate(0, 0);
	 -moz-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 .card-meta {
	 font-size: 0.8em;
	 text-transform: uppercase;
	 letter-spacing: 1px;
}
 .card-meta:before {
	 content: "";
	 height: 1px;
	 width: 30px;
	 background-color: #fff;
	 position: relative;
	 display: block;
	 margin-bottom: 10px;
	 backface-visibility: hidden;
	 opacity: 0;
	 transform: translate(0, -10px);
	 -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 .card-text {
	 color: rgb(198, 231, 12);
	 background-color: rgba(17, 17, 17, 0.65);
	 position: absolute;
	 padding: 20px;
	 z-index: 10;
	 height: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 align-content: flex-end;
	 -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 .card-title {
	 margin: 8px 0;
	 font-weight: 300;
	 font-size: 1.875em;
}
 .card a:hover .card-text {
	 background-color: rgba(17, 17, 17, 0.86);
}
 .card a:hover .card-meta:before {
	 transform: translate(0, 0);
	 opacity: 1;
	 -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 .card a:hover .card-image {
	 transform: translate(20px, 0);
	 -moz-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 