#person {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#person td, #person th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#person tr:nth-child(even){background-color: #5e85db;}

#person tr:hover {background-color: rgb(131, 105, 105);}

#person th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #eb7d33;
  color: white;
}